header {
    height: 160px;
    background-image: url(../assets/desktop/bg-pattern-header.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

input {
    padding: 8px 25px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: white;
}