
input {
    padding: 8px 25px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: white;
}

button {
    background-color: #5964E0;
    border: none;
    padding: 10px 25px;
    border-radius:5px ;
    color: white;
    font-weight: 500;
}

#title {
    font-weight: bolder;
}
#country {
    font-size: 18px;
    color: #5964E0;
    font-weight: bolder;
}

#image {
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

#line {
    height: 50px;
}