
<app-header></app-header>
<div class="mt-5 mb-5 py-4"></div>
<div class="container mt-5 px-0">
  <div class="row mt-5">
    <div class="col-4 mt-5" *ngFor="let job of jobs">
      <div class="card">
        <div class="position-relative mb-3">
          <div id="image" class="position-absolute py-2 px-2 mx-5 translate-middle d-flex align-items-center" [ngStyle]="{'background-color': job.logoBackground}">
            <img class=" " [src]="job.logo" width="80px" alt="">
          </div>
        </div>
        <div class="card-body mt-3">
          <div class="d-flex gap-2 mb-2">
            <h6 class="card-subtitle text-muted">{{ job.postedAt }}</h6>
            <h6 class="card-subtitle text-muted">{{ job.contract }}</h6>
          </div>
          <h5 id="title" class="card-title">{{ job.position }}</h5>
          <h6 class="card-subtitle text-muted mt-2 mb-5">{{ job.company }}</h6>

          <h6 id="country">{{ job.location }}</h6>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="d-flex justify-content-center mt-5">
  <button>Load More</button>
</div>
